@media screen and (max-width: 3024px) {
  body {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 411px) {
  body {
    width: 100%;
  }
  .newsheader {
    font-size: 28px!important;
    font-weight: 300!important;
    line-height: 40px!important;
    font-family: SFProText-Light;
  }
  .newsBody {
    padding: 20px!important;
  }
  .newsText {
    font-size: 19px!important;
    line-height: 30px!important;
    font-weight: 200!important;
    font-family: SFProText-Light;
  }
  .metadata {
    font-size: 16px!important;
    font-weight: 200!important;
    margin-top: 3px!important;
  }
  .sourcecontainer {
    font-size: 14px!important;
  }
}

/* @font-face {
  font-family: SFProText-Regular;
  src: local(SFProText-Regular), url(/fonts/SFProText-Regular.ttf) format('truetype');
}
@font-face {
  font-family: SFProText-Light;
  src: local(SFProText-Light), url(/fonts/SFProText-Light.ttf) format('truetype');
}
*/

.dsiplay-linebreak{
    white-space: pre-line;
  } 
  
  body {
    background-image: "/web_bg.png"; 
    background-color: #000;
    align-content: center;
    margin: auto;
    height: 100%;
    overflow: auto;
  }
  
  .logoContainer {
    top: 55px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    ;
  }
  
  .logo {
    display: block;
    max-width: 230px;
    max-height: 45px;
    width: auto;
    height: auto;
    align-self: center;
  }
  
  .title {
    font-size: 18px;
    color: red;
    font-family: SFProText-Light;
  }
  
  .container {
    background-image: "/home_background.png";
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
  }
  
  .newsBody {
    background-color: #eee;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 30px;
    box-shadow: -2px -2px 18px #000;
    overflow: auto;
    height: 100%;
  }
  
  .bodyImg {
    width: 100%;
    border-width: 1px solid #fff;
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-size: cover;
  }
  
  .titleDeco {
    border-left: 2px solid #f32972;
    padding-left: 25px;
    margin-bottom: 40px;
    margin-top: 25px;
  }
  
  .newsheader {
    font-size: 38px;
    font-weight: 300;
    line-height: 50px;
  }
  
  .metadata {
    font-size: 20px;
    font-weight: 200;
    color: rgb(116, 116, 116);
    margin-top: -17px;
    font-family: SFProText-Light;
  }
  
  .newsText {
    font-size: 21px;
    line-height: 35px;
    color: rgb(66, 66, 66);
    font-weight: 100;
  }
  
  .sourcecontainer {
    background-color: rgb(224, 224, 224);
    padding: 22px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    font-family: 'Helvetica';
  }
  
  .source {
    font-weight: 200;
    color: rgb(224, 85, 136);
    margin-right: 10px;
    text-decoration: none;
    font-family: SFProText-Regular;
  }
  
  .news_date {
    font-weight: 200;
    color: rgb(116, 116, 116);
    font-family: SFProText-Regular;
  }
  
  .footer {
    padding: 35px;
    background-color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .message {
    color: white;
    font-size: 20px;
    /* font-weight: 100; */
    padding-bottom: 30px;
    font-family: SFProText-Light;
  }
  
  .download_btn {
    display: block;
    max-width: 230px;
    max-height: 75px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
  
  .loadingState {
    background-color: #eee;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-flow: row;
    height: 100vh;
    position: relative;
  }
  
  .loadingLogo {
    display: block;
    max-width: 230px;
    max-height: 30px;
    width: auto;
    height: auto;
    align-self: center;
    position: absolute;
    top: 49vh;
    z-index: 15;
  }
  
  .loadingAnimation {
    display: block;
    max-width: 270px;
    max-height: 415px;
    width: auto;
    height: auto;
    align-self: center;
  }
  
  .loadingText {
    display: block;
    align-self: center;
    position: absolute;
    top: 78vh;
    color: #999999;
    font-family: SFTextPro-Light;
  }